/* Adicionar aqui toda a estilização criada para sua aplicação. */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header {
    background-color: black;
    border-bottom: 3px solid #32b9cd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
}

.navbar a {
    color: #e3b062;
    outline: none;
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    color: #ffffff;
    margin: 0px;
    font-size: 24px;
}

.banner .container p span {
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes .box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxes .box img {
    height: 120px;
    width: 120px;
}

.box h4 {
    margin: 0px;
    margin-top: 10px;
    color: #ed145b;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: #32b9cd;
}

.footer .container {
    height: 100%;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h4 {
    margin-bottom: 0px;
}

/* Aqui termina o index.html */
